.task-box {
    border-style: solid;
    border-color: black; 
    margin: 15px;
} 
.green{
    background-color: yellowgreen;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}